<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.semusp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEMUSP"
        tools:targetApi="31">
        <activity
            android:name=".AcompanharOcorrencia.Acompanhar_defesa_civil"
            android:exported="false" />
        <activity
            android:name=".AcompanharOcorrencia.Acompanhar_semma"
            android:exported="false" />
        <activity
            android:name=".Activity.RedefinirSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".informativo.InfromativoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Telas.ListaDefesaCivil"
            android:exported="false" />
        <activity
            android:name=".Telas.Denuncia_defesa_civil"
            android:exported="false" />
        <activity
            android:name=".Denucias.CadastroDenuncia_Defesa_Civil"
            android:exported="false" />
        <activity
            android:name=".Telas.ListaSemma"
            android:exported="false" />
        <activity
            android:name=".Denucias.CadastrodaDenuncia_Semma"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.FaunaActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.FloraActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.AguaActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.FogoActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.ArActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.RuidoActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha_semma.SoloActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.Denuncia_Semma"
            android:exported="false" />
        <activity
            android:name=".termodeuso"
            android:exported="false" />
        <activity
            android:name=".Activity.recuperarActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.Semma"
            android:exported="false" />
        <activity
            android:name=".Telas.DefesaCivil"
            android:exported="false" />
        <activity
            android:name=".Activity.SelecaoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".SplaschScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
    </application>

</manifest>