<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.semusp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEMUSP"
        tools:targetApi="31">
        <activity
            android:name=".Escolha.FaunaActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.FloraActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.AguaActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.FogoActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.ArActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.RuidoActivity"
            android:exported="false" />
        <activity
            android:name=".Escolha.SoloActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.Denuncia"
            android:exported="false" />
        <activity
            android:name=".termodeuso"
            android:exported="false" />
        <activity
            android:name=".recuperarActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.Semma"
            android:exported="false" />
        <activity
            android:name=".Telas.DefesaCivil"
            android:exported="false" />
        <activity
            android:name=".SelecaoActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".SplaschScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>